<div class="top-wrapper">
  <div class="top-inner-text">
    <h1 class="pb-2"><%= t('defaults.app_name') %></h1>
    <h4 class="pb-2">飯テロをもっと気軽に</h4>
    <%= link_to t('defaults.line_login'), "/auth/line", class: "btn line_login_button" %>
    <%= link_to 'みんなの投稿を見る', posts_path, class: "btn btn-warning" %>
  </div>
  <div id="slideshow">
    <div class="slide"><%= image_tag 'sample.jpg' %></div>
    <div class="slide"><%= image_tag 'top.jpg' %></div>
    <!-- 他の画像も追加可能 -->
  </div>
</div>
