<tr id="comment-25">
  <td style="width: 60px">
    <%= image_tag comment.user.avatar.url, class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h3 class="small">
      <% if comment.user.nickname.present? %>
        <%= comment.user.nickname %>
      <% else %>
        <%= comment.user.name %>
      <% end %>
    </h3>
    <div id="js-comment-25">
      <p><%= simple_format(comment.body) %></p>
    </div>
    <div style="display: none;">
      <textarea class="form-control mb-1"><%= simple_format(comment.body) %></textarea>
      <button class="btn btn-light">キャンセル</button>
      <button class="btn btn-success">更新</button>
    </div>
  </td>

  <% if current_user && current_user.own?(comment) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <a href="#"><i class='fa fa-pencil'></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fa fa-trash"></i>
          </a>
        </li>
      </ul>
    </td>
  <% end %>

</tr>
