<tr>
  <td style="width: 60px">
    <%= image_tag comment.user.avatar.url, class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h3 class="small">
      <% if comment.user.nickname.present? %>
        <%= comment.user.nickname %>
      <% else %>
        <%= comment.user.name %>
      <% end %>
    </h3>
    <div id="js-comment-25">
      <p><%= simple_format(comment.body) %></p>
    </div>
  </td>

  <% if current_user && current_user.own?(comment) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <%= link_to comment_path(comment),
                      class: 'link-color-black',
                      data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>
