<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: '必須' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: 10, placeholder: '感想や店名、送り相手への煽りなどご自由に！(必須)' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :food_image %>
    <%= f.file_field :food_image, class: 'form-control mb-3',
        accept: 'image/*', onchange: 'previewImage()' %>
    <%= f.hidden_field :food_image_cache %>
  </div>
  <br>
  <div class="mt-3 mb-3">
    <%= image_tag post.food_image.url,
                  id: 'preview',
                  size: '300x200' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, class: 'form-control', value: post.tag_list.join('、'), placeholder: '、で区切って入力してください' %>
  </div>
  <br>
  <div class="form-group">
    <% if post.new_record? || (post.published_at.present? && post.published_at > Time.current) %>
      <%= f.label :published_at %>
      <%= f.datetime_field :published_at, class: 'form-control' %>
    <% end %>
  </div>
  <br>
  <div class="form-group">
    <% if post.new_record? || (post.published_at.present? && post.published_at > Time.current) %>
      <%= f.label :recipients %>
      <div class="dropup">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('posts.new.recipients') %>
        </button>
        <div class="dropdown-menu scrollable-dropdown dropdown-menu-padding" aria-labelledby="dropdownMenuButton">
          <%= f.collection_check_boxes :recipient_ids, User.all, :id, :display_name do |b| %>
            <div class="form-check">
              <%= b.check_box class: 'form-check-input' %>
              <%= b.label { b.object.display_name.presence || b.object.name } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <%= f.submit t('posts.new.title'), class: 'btn btn-warning btn-lg d-grid gap-2 col-6 mx-auto' %>
<% end %>
  <br>
