<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: 10 %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :food_image %>
    <%= f.file_field :food_image, class: 'form-control mb-3',
        accept: 'image/*', onchange: 'previewImage()' %>
    <%= f.hidden_field :food_image_cache %>
  </div>
  <br>
  <div class="mt-3 mb-3">
    <%= image_tag post.food_image.url,
                  id: 'preview',
                  size: '300x200' %>
  </div>
  <br>
  <div class="form-group">
    <% if post.published_at > Time.current %>
      <%= f.label :published_at %>
      <%= f.datetime_field :published_at, class: 'form-control' %>
    <% end %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
