<div class="col-sm-12 col-lg-4 mb-3 grow-on-hover">
  <div class="mb-3 border p-4 bg-light">
    <div class="card">
      <%= link_to post_path(post) do %>
        <%= image_tag post.food_image.url, class: 'card-img-top', size: '300x200' %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"><%= link_to post.title, post_path(post) %></a>
        </h4>
          <% if current_user && current_user.own?(post) %>
            <%= render 'crud_menus', post: post %>
          <% end %>
        <ul class="list-inline">
          <%= image_tag post.user.avatar.url, class: 'rounded-circle', size: '40x40' %>
            <% if post.user.nickname.present? %>
              <%= post.user.nickname %>
            <% else %>
              <%= post.user.name %>
            <% end %>
          </li>
        </ul>
        <p class="card-text"><%= post.content %></p>
          <% if current_user %>
            <div style="text-align: right;"><%= render 'bookmark_button', post: post %></div>
          <% end %>
          <% character = [0x1D54F].pack('U*') %>
          <%= link_to "#{character}", "https://twitter.com/intent/tweet?url=#{request.url}/#{post.id}&text=【#{post.title}】をテロ!%0a%20%23飯テログ", class: "btn btn-dark btn-sm", title: 'Twitter', target: '_blank' %>
      </div>
    </div>
  </div>
</div>
