<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-1">
    <div class="card">
      <%= image_tag post.food_image.url, class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"><%= post.title %></a>
        </h4>
          <%= render 'crud_menus', post: post %>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="far fa-user"></i>
            <%= post.user.name %>
          </li>
          <li class="list-inline-item"><i class="far fa-calendar"></i>
            <%= l post.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= post.content %></p>
      </div>
    </div>
  </div>
</div>
