<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @post.food_image_url, class: 'card-img-top img-fluid', size: '300x200' %>
            </div>
            <div class='col-md-9'>
              <h3 style='display: inline;'><%= @post.title %></h3>
              <%= render 'crud_menus', post: @post %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @post.user.name %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@post.content) %></p>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form' %>


  <!-- コメントエリア -->
  <%= render 'comments/comments' %>
</div>
