<% content_for(:title, @post.title) %>
<div class="container pt-5 mb-5 mt-3">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2 mb-3 border p-4 bg-light">
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-12'>
              <%= image_tag @post.food_image_url, class: 'card-img-top img-fluid', size: '300x200' %>
            </div>
            <div class='col-12'>
              <br>
              <h3 style='display: inline;'><%= @post.title %></h3>
              <% if current_user && current_user.own?(@post) %>
                <%= render 'crud_menus', post: @post %>
              <% end %>
              <ul class="list-inline">
              <br>
                <li class="list-inline-item"><%= image_tag @post.user.avatar.url, class: 'rounded-circle', size: '40x40' %> <%= @post.user.name %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
          <div class="card card-body text-center">
          <p><%= simple_format(@post.content) %></p>
          </div>
          <br>
          <% if current_user %>
            <div style="text-align: right;"><%= render 'bookmark_button', post: @post %></div>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { post: @post, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
